<ion-view title="User Account" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="userAccount-list4">
            <ion-item class="item-avatar" id="userAccount-list-item2">
                <h2>Item</h2>
            </ion-item>
            <ion-item id="userAccount-list-item3">Item</ion-item>
        </ion-list>
        <a ui-sref="scanABill" id="userAccount-button5" class="button button-positive  button-block">Scan a Bill</a>
        <a ui-sref="myInventory" id="userAccount-button6" class="button button-positive  button-block">My inventory</a>
        <a ui-sref="foodNearMe" id="userAccount-button7" class="button button-positive  button-block">Food Near Me</a>
        <a ui-sref="expiringSoon" id="userAccount-button8" class="button button-positive  button-block">Expiring soon</a>
        <a ui-sref="transactions" id="userAccount-button9" class="button button-positive  button-block">Transactions</a>
        <a ui-sref="welcome" id="userAccount-button10" class="button button-positive  button-block">Logout</a>
    </ion-content>
</ion-view>